body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #1d1a16;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #1d1a16;
}

ul li {
    margin-bottom: 8px;
}

.text {
    background-color: #284b35;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    min-height: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.text:hover {
    transform: translateY(-5px);
}
